<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requested Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="topnav">
        <a href="/admin">Home</a>
        <a href="/admin/courses">See All Courses</a>
        <a class="active" href="/admin/requested_courses">See Requested Courses</a>
        <a href="/admin/view_students"> See All Students</a>
        <a href="/admin/add_promocode">Create A Promocode</a>
        <a href="/admin/issue_promocode">Issue A Promocode</a>
        <a href="/profile">Profile</a>
        <a href="/logout" style="float: right;">Log out</a>
  </div>
    </div>
    <div class="container">
        <h1>All Requested Courses</h1>
    </div>
    <div class="table">
      <table cellspacing=10px>
          <tr>
            <td>Name</td>
            <td>Credit Hours</td>
            <td>Price</td>
            <td>Content</td>
            <td>Accepted</td>
          </tr>
          <tr>
            <% for(var index = 0; index < data.length; index++ ) { %>
              <tr>
                <td><a href="courseDetails/<%=data[index].name%>"><%= data[index].name %></a></td>
                <td> <%= data[index].creditHours %> </td>
                <td> <%= data[index].price %> </td>
                <td> <%= data[index].content %> </td>
                <td> false </td>
              </tr>
            <% } %>
          </tr>
        </table>
  </div>
    
</body>
</html>