<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View Assign</title>
      </head>
        <body>
            <form method="POST" action="/viewAssign">
                Course :<select id="cid" name="cid" required>
                    <option selected value='0'>Choose a course</option>
                    <%   
                    for(i = 0 ; i < result1.length ; i++) {
                    %>
                    <option value = "<%= result1[i].id %>" > <%=result1[i].name %> </option>
                    <% } %> 
                </select>
                <br>
                <input id="Button2"  type="submit" value="View assignment students">
                </form>
            <div class="table-data">
                    <table border = "3">
                        <tr>
                            <th>Student id</th>
                            <th>Course id</th>
                            <th>Assignment numer</th>
                            <th>Type</th>
                            <th>Grade</th>
                            <th>Enter Grade</th>
                            
                        </tr>
                        <%
                        if(result.length!=0){
                        for(i = 0;i<result.length;i++){
                        %>
                        <tr>
                            <td><%=result[i].sid %></td>
                            <td><%=result[i].cid %></td>
                            <td><%=result[i].assignmentNumber %></td>
                            <td><%=result[i].assignmenttype %></td>
                            <td><%=result[i].grade %></td>
                            <td>
                            <form method="POST" action="/gradeAssignment">
                                <input type="hidden" name="sid" value = "<%=result[i].sid%>">
                                <input type="hidden" name="cid" value = "<%=result[i].cid%>">
                                <input type="hidden" name="assignmentNumber" value = "<%=result[i].assignmentNumber%>">
                                <input type="hidden" name="type" value = "<%=result[i].assignmenttype%>">
                                <input type="number" name="grade" value ="">
                                <input type="submit" value="Grade">
                            </form>
                            </td>
                        </tr>
                        <% } %>
                        <% } else{ %>
                            <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>
                        <% } %>
                    </table>
            </div>
        </body>
</html>