<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View Feedback</title>
        <style>
        .zoo{
            text-align: center;
        }
        .new{
            background-color: #008891;
            font-size: .80em;
            font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
            color: #e7e7de;
            text-align: center;
        }
        .table-data{ 
            position: relative; 
            left:45%; 
            top:100px; 
        } 
        .topnav a {
                float: left;
                color: #00587a;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
        .topnav {
            background-color: grey;
            overflow: hidden;
        }.topnav a.active {
            background-color: #6f9eaf;
            color: #e7e7de;
            pointer-events: none;
        }
        .topnav a:hover {
            background-color: #008891;
            color: #e7e7de;
        }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Instructor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
        <body class = "new">
            <div class="topnav">
                <a href="/instructor">Home</a>
                <a href="addcourse">Add course</a>
                <a href="defineAssignment">Add assesment</a>
                <a class="active" href="/viewFeedback">View student feedback</a> 
                <a href="/viewAssigninst">View assignment students</a>
                <a href="/IssueCertificate">Issue certificate</a>
                <a href="/instructorProfile">Profile</a>
                <a href="/logout">Log out</a>
            </div>
            <div>
            <form method="POST" action="/viewFeedback">
                Course :<select id="cid" name="cid">
                    <option selected value='0'>Choose a course</option>
                    <%   
                    for(i = 0 ; i < result1.length ; i++) {
                    %>
                    <option value = "<%= result1[i].id %>" > <%=result1[i].name %> </option>
                    <% } %> 
                </select>
                <br>
                <input id="Button2"  type="submit" value="View feedback">
                </form>
                <div class="table-data">
                    <table class="zoo" border ="3">
                        <tr>
                            <th>Number</th>
                            <th>Comment</th>
                            <th>Likes</th>
                        </tr>
                        <%
                        if(result.length!=0){
                        for(i = 0;i<result.length;i++){
                        %>
                        <tr>
                            <td><%=result[i].number %></td>
                            <td><%=result[i].comment %></td>
                            <td><%=result[i].numberOfLikes %></td>
                        </tr>
                        <% } %>
                        <% } else{ %>
                            <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>
                        <% } %>
                    </table>
                    </div>
        </div>
        </body>
</html>